SogaIntegratorWebApi/bin/Debug/netcoreapp2.2/SogaIntegratorWebApi.dll
SogaIntegratorWebApi/bin/Debug/netcoreapp2.2/SogaIntegratorWebApi.pdb
SogaIntegratorWebApi/bin/Debug/netcoreapp2.2/SogaIntegratorWebApi.deps.json
SogaIntegratorWebApi/bin/Debug/netcoreapp2.2/SogaIntegratorWebApi.runtimeconfig.json
SogaIntegratorWebApi/bin/Debug/netcoreapp2.2/SogaIntegratorWebApi.runtimeconfig.dev.json
SogaIntegratorWebApi/obj/SogaIntegratorWebApi.csproj.nuget.cache
SogaIntegratorWebApi/obj/SogaIntegratorWebApi.csproj.nuget.g.props
SogaIntegratorWebApi/obj/SogaIntegratorWebApi.csproj.nuget.cache
SogaIntegratorWebApi/obj/SogaIntegratorWebApi.csproj.nuget.g.targets
SogaIntegratorWebApi/obj/project.assets.json
SogaIntegratorWebApi/obj/Debug/netcoreapp2.2/SogaIntegratorWebApi.dll
SogaIntegratorWebApi/obj/Debug/netcoreapp2.2/SogaIntegratorWebApi.pdb
SogaIntegratorWebApi/obj/Debug/netcoreapp2.2/SogaIntegratorWebApi.assets.cache
SogaIntegratorWebApi/obj/Debug/netcoreapp2.2/SogaIntegratorWebApi.csproj.CoreCompileInputs.cache
SogaIntegratorWebApi/obj/Debug/netcoreapp2.2/project.razor.json
SogaIntegratorWebApi/obj/Debug/netcoreapp2.2/SogaIntegratorWebApi.csprojAssemblyReference.cache
SogaIntegratorWebApi/obj/Debug/netcoreapp2.2/SogaIntegratorWebApi.AssemblyInfo.cs
SogaIntegratorWebApi/obj/Debug/netcoreapp2.2/SogaIntegratorWebApi.AssemblyInfoInputs.cache
SogaIntegratorWebApi/obj/Debug/netcoreapp2.2/SogaIntegratorWebApi.RazorAssemblyInfo.cache
SogaIntegratorWebApi/obj/Debug/netcoreapp2.2/SogaIntegratorWebApi.RazorAssemblyInfo.cs
SogaIntegratorWebApi/obj/Debug/netcoreapp2.2/SogaIntegratorWebApi.RazorTargetAssemblyInfo.cache
SogaIntegratorWebApi/obj/Debug/netcoreapp2.2/SogaIntegratorWebApi.csproj.FileListAbsolute.txt
SogaIntegratorWebApi/obj/Debug/netcoreapp2.2/SogaIntegratorWebApi.RazorAssemblyInfo.cs
SogaIntegratorWebApi/obj/Debug/netcoreapp2.2/SogaIntegratorWebApi.RazorTargetAssemblyInfo.cache
SogaIntegratorWebApi/obj/Debug/netcoreapp2.2/SogaIntegratorWebApi.csproj.FileListAbsolute.txt
